<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>958191763321-5mdbki753h88bg909gofq46upl85gr5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958191763321-5mdbki753h88bg909gofq46upl85gr5c</string>
	<key>API_KEY</key>
	<string>AIzaSyASxLER_ZsZGRAJdJ3vGdJZBsLFWfmPPhg</string>
	<key>GCM_SENDER_ID</key>
	<string>958191763321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lww515.Wagin</string>
	<key>PROJECT_ID</key>
	<string>wagin-5bc40</string>
	<key>STORAGE_BUCKET</key>
	<string>wagin-5bc40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958191763321:ios:da1d6ca5d4287ba9</string>
	<key>DATABASE_URL</key>
	<string>https://wagin-5bc40.firebaseio.com</string>
</dict>
</plist>